# Data Analysis with Pandas
 ## vg-stats

### Nura tabanjeh

#### 10/8/2021

In [61]:
import pandas as pd 
import numpy as np

In [62]:
df = pd.read_csv('./vgsales.csv')

### 1. Which company is the most common video game publisher?

In [63]:
most_company_puplisher=df.Publisher.mode()
most_company_puplisher

0    Electronic Arts
dtype: object

### 2.What’s the most common platform?

In [64]:
most_common_platform=df.Platform.mode()
most_common_platform

0    DS
dtype: object

### 3. What about the most common genre?

In [65]:
most_common_genre=df.Genre.mode()
most_common_genre

0    Action
dtype: object

### 4. What are the top 20 highest grossing games?

In [66]:
top_twenty_highest_grossing_games=df[['Name','Global_Sales']].head(20)
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### 5. For North American video game sales, what’s the median?

In [67]:
north_american_sales_median=df['NA_Sales'].median()
north_american_sales_median

0.08

### Provide a secondary output showing ten games surrounding the median sales output

In [68]:
ten_games_has_median_sales=df[df['NA_Sales']==df['NA_Sales'].median()]
ten_games_has_median_sales[['Name', 'NA_Sales']][225:236]

                                        Name  NA_Sales
9934                        Turok: Evolution      0.08
9957                                Deadpool      0.08
9996              GT Advance 2: Rally Racing      0.08
10000                         A Witch's Tale      0.08
10012                      Nickelodeon Dance      0.08
10020               Phantasy Star Collection      0.08
10022                  LEGO Knights' Kingdom      0.08
10024     Family Game Night 4: The Game Show      0.08
10026                           NBA Jam 2002      0.08
10029               Tony Hawk's Pro Skater 5      0.08
10042  Tom Clancy's Rainbow Six: Rogue Spear      0.08

### 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [69]:
standard_deviation_north_america=(df['NA_Sales'].iloc[0]-df["NA_Sales"].mean())/df["NA_Sales"].std()
standard_deviation_north_america

50.47898767479108

### 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [70]:
nintendo_avg_sales=df[df['Platform']=='Wii'].Global_Sales.mean()
avg_sales_for_all_games=df['Global_Sales'].mean()
compairing=(avg_sales_for_all_games, nintendo_avg_sales)
compairing

(0.5374406555006628, 0.6994037735849057)

### Come up with 3 more questions that can be answered with this data set.

### what is the avg sales of GBA?

In [71]:
avg_sales_GBA=df[df['Platform']=='GBA'].Global_Sales.mean()
avg_sales_GBA

0.38746958637469586

### What is the median for eu_sales?

In [72]:
EU_Sales_median=df['Global_Sales'].median()
EU_Sales_median

0.17

### What is the fifth best selling game?

In [73]:
fifth_best_selling=df['Name'][4]
fifth_best_selling

'Pokemon Red/Pokemon Blue'

In [75]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

        assert_equal(most_company_puplisher,'Electronic Arts')
        assert_equal(most_common_platform, 'DS')
        assert_equal(most_common_genre, 'Action')
        assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports'	)
        assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
        assert_equal(north_american_sales_median, 0.08)
        assert_equal(ten_games_has_median_sales, 50.47898767479108)
        assert_equal(compairing, (0.5374406555006628, 0.6994037735849057))
        assert_equal(avg_sales_GBA, 0.38746958637469586)
        assert_equal(EU_Sales_median, 0.17)
        assert_equal(fifth_best_selling, 'Pokemon Red/Pokemon Blue')
    

    print("Success!!!")

test()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().